doctype html  
html(lang='en')  
  head
    title Contacts Manager
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
  body
    main
      section.container
        h1 Contacts
        form.addContactForm
          div.form-group
            label(for="firstName") Firstname:  
            input#firstName.form-control(type="text", placeholder="Firstname", name="firstName", required)
          div.form-group
            label(for="lastName") Lastname:  
            input#lastName.form-control(type="text", placeholder="Lastname", name="lastName", required)
          button.btn.btn-primary(type="submit") Register
        div.form-group
      section.container
        div.row
          if contacts.length
            each val in contacts
              div.col-md-3.m-1.card
                div.card-body(id=val._id)
                  p(class="card-text")=val.firstName + " " + val.lastName + " "
                  button.deleteButton.btn.btn-danger(type="button") Remove !
      section.container 
        div.text-center.socketNews.alert
  script(src="/scripts/contactsManager-script.js")
